<div class="container">
  <div class="footer-content">
    <div class="footer-copy">
      © 2021 All Rights Reserved by the <a href="https://www.rws.com/">RWS Group</a>.
    </div>
    <ul class="footer-links">
      <li>
        <a href="https://www.rws.com">RWS Website</a>
      </li>
      <li>
        <a href="https://www.rws.com/about/careers/">RWS Careers</a>
      </li>
      <li>
        <a href="https://community.sdl.com/">RWS Community</a>
      </li>
    </ul>
  </div>
  <div class="footer-totop"><a href="#main"><img src="img/vector.svg" width="20" height="20">To the top</a></div>
</div>