/* ----------------------- 
1. Main menu
2. Footer
3. Content sections
----------------------- */


/* Main menu */
.menu ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  font-size: .875rem;
  margin: 0.5rem 0;
}
.menu li {
  margin: 0;
  padding: 0 .5rem;
}
.menu .page-logo {
  padding-left: 0;
  padding-right: 1rem;
}
.menu .page-logo a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: {{ site.colors.text-gray }};
}
.menu .page-logo a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: {{ site.colors.text-gray }};
}
.menu .page-logo img {
  margin-right: .3rem;
}
.menu .menu-item {
  display: none;
}
.menu .menu-item a {
  color: inherit;
}
.menu .menu-item a:hover {
  color: {{ site.colors.link-hover }};
}

@media screen and (min-width: {{ site.breakpoints.tablet-min }}) {
  .menu {
    padding: 0 .25rem;
  }
  .menu .menu-item {
    display: block;
  }
}

/* Footer */
.footer {
  background-color: {{ site.colors.border-light }};
  padding: 1rem 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer .footer-copy {
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
.footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
}
.footer .footer-links li {
  position: relative;
  margin: 0 .5rem;
}
.footer .footer-links li a {
  padding: 0 .5rem;
  white-space: nowrap;
}
.footer .container .footer-totop {
  width: 100%;
  text-align: center;
}
.footer .container .footer-totop a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container .footer-totop img {
  margin-right: .5rem;
}

@media screen and (min-width: {{ site.breakpoints.tablet-min }}) {
  .footer .container {
    flex-direction: row;
  }
  .footer .footer-links {
    justify-content: start;
    margin-bottom: 0;
  }
  .footer .footer-links li {
    margin: 0 .25rem;
  }
  .footer .footer-links li a {
    padding: 0 .25rem;
  }
    .footer .footer-links li:after {
    content: "|";
    position: absolute;
    top: 0;
    right: -0.5rem;
  }
  .footer .footer-links li:last-child:after {
    content: none;
  }
  .footer .container .footer-totop {
    width: auto;
    min-width: 15rem;
  }
}

@media screen and (min-width: {{ site.breakpoints.pc-min }}) {
  .footer .container .footer-content {
    flex-direction: row;
  }
  .footer .footer-copy {
    margin: 0;
    margin-right: 1rem;
  }
}

/* Content sections */
.container {
  max-width: {{ site.page.width-max }};
  margin: 0 auto;
  padding: 0 1rem;
}
.section * {
  box-sizing: border-box;
}
.section-post{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.section-post h1,
.section-post h2,
.section-post h3,
.section-post .description {
  width: 100%;
  text-align: center;
}
.section-post .description {
  max-width: 500px;
}
.section-post .listboxes {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1rem;
}
.section-post .listboxes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid {{ site.colors.border-dark }};
}
.section-post.section-post-last ul {
  border-bottom: none;
}
.section-post .listboxes ul li {
  padding: 1rem 3rem;
}
@media screen and (min-width: {{ site.breakpoints.tablet-min }}) {
  .container {
    padding: 0 .5rem;
  }
  .section-post .description {
    max-width: unset;
  }
  .section-post .listboxes {
    padding: 1rem;
  }
  .section-post .listboxes ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    align-items: unset;
  }
  .section-post .listboxes ul li {
    flex-basis: 49%;
    padding: 1rem 2rem;
  }
  .section-post .listboxes ul li.pointer:hover {
    background-color: {{ site.colors.border-light }};
    cursor: pointer;
  }
  .section-post .listboxes ul li.pointer:hover a {
    color: {{ site.colors.link-hover}};
  }
}

@media screen and (min-width: {{ site.breakpoints.pc-min }}) {
  .container {
    padding: 0 1rem;
  }
  .section-post .listboxes ul li {
    flex-basis: 24%;
    padding: 1rem 1.5rem;
  }
}

/* Custom styles */
.section-hero {
  background-color: {{ site.colors.text }};
  color: {{ site.colors.text-light }};
  margin: 0;
  margin-bottom: 4rem;
}
.section-hero .hero-content {
  background-position: center;
  background-size: cover;
}
.section-hero .container {
  min-height: 20rem;
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-post.section-hero .description {
  max-width: unset;
}

@media screen and (min-width: {{ site.breakpoints.tablet-min }}) {
  .section-hero .container {
    width: 90%;
    max-width: 650px;
  }
}
@media screen and (min-width: {{ site.breakpoints.pc-min }}) {
  .section-hero .container {
    width: 85%;
    max-width: 800px;
  }
}